<p><%= @user.to_s %>,</p>

<p>A password reset has been requested.  Click on the link below or paste it into your browser in order to reset your password.</p>

<p><%= link_to "Reset Password", 'http://localhost:3000/reset_password_form/' + @user.id.to_s + '/' + @user.password_recovery_hash %></p>